@import 'tailwindcss';
@import 'tw-animate-css';

@import './styling/setup.css';
@import './styling/overrides.css';
@import './styling/utilities.css';
@import './styling/components.css';

@custom-variant dark (&:is(.dark *));

/* Uncomment to debug layering and overflow */
/* *,
*::after,
*::before {
  :focus,
  :focus-visible,
  :focus-within {
    outline: 2px solid hotpink !important;
  }
} */

/* *,
*::after,
*::before {
  background: hsla(135, 50%, 50%, 0.05) !important;
  outline: 2px solid hotpink !important;
} */

@theme inline {
  /* stylelint-disable-next-line custom-property-pattern */
  --color-*: initial;
  --color-transparent: transparent;
  --color-inherit: inherit;

  --color-prim-0: var(--clr-prim-0);
  --color-prim-100: var(--clr-prim-100);
  --color-prim-200: var(--clr-prim-200);
  --color-prim-300: var(--clr-prim-300);
  --color-prim-400: var(--clr-prim-400);
  --color-prim-600: var(--clr-prim-600);
  --color-prim-800: var(--clr-prim-800);
  --color-prim-999: var(--clr-prim-999);

  --color-sec-0: var(--clr-sec-0);
  --color-sec-100: var(--clr-sec-100);
  --color-sec-200: var(--clr-sec-200);
  --color-sec-300: var(--clr-sec-300);
  --color-sec-400: var(--clr-sec-400);
  --color-sec-600: var(--clr-sec-600);
  --color-sec-800: var(--clr-sec-800);

  --color-warn-100: var(--clr-warn-100);
  --color-warn-600: var(--clr-warn-600);

  --color-ok-600: var(--clr-ok-600);

  /* stylelint-disable-next-line custom-property-pattern */
  --z-index-*: initial;
  --z-index-bottom: 0;
  --z-index-topmost: 99;
  --z-index-pop: 10;
  --z-index-sticky: 20;
  --z-index-tooltip: 30;
  --z-index-navigation: 50;
  --z-index-modal: 60;

  /* stylelint-disable-next-line custom-property-pattern */
  --breakpoint-*: initial;
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --ease-bezier: cubic-bezier(0.4, 0, 0.2, 1);

  --duration-move: 500ms;
  --duration-modal: 300ms;
  --duration-fade: 300ms;
  --duration-dropdown: 200ms;
  --duration-select: 100ms;
}

/* ========= shadcn theme ============ */

:root {
  /* --radius: 0.625rem; */
  --primary: oklch(20.5% 0 0deg);
  --primary-foreground: oklch(98.5% 0 0deg);
  --secondary: oklch(97% 0 0deg);
  --secondary-foreground: oklch(20.5% 0 0deg);

  --chart-1: oklch(64.6% 0.222 41.116deg);
  --chart-2: oklch(60% 0.118 184.704deg);
  --chart-3: oklch(39.8% 0.07 227.392deg);
  --chart-4: oklch(82.8% 0.189 84.429deg);
  --chart-5: oklch(76.9% 0.188 70.08deg);
}

.dark {
  --primary: oklch(92.2% 0 0deg);
  --primary-foreground: oklch(20.5% 0 0deg);
  --secondary: oklch(26.9% 0 0deg);
  --secondary-foreground: oklch(98.5% 0 0deg);

  --chart-1: oklch(48.8% 0.243 264.376deg);
  --chart-2: oklch(69.6% 0.17 162.48deg);
  --chart-3: oklch(76.9% 0.188 70.08deg);
  --chart-4: oklch(62.7% 0.265 303.9deg);
  --chart-5: oklch(64.5% 0.246 16.439deg);
}

@theme inline {
  /* --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px); */

  --color-background: var(--clr-prim-100);
  --color-foreground: var(--clr-prim-999);
  --color-card: var(--clr-prim-0);
  --color-card-foreground: var(--clr-prim-999);
  --color-popover: var(--clr-prim-0);
  --color-popover-foreground: var(--clr-prim-999);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--clr-prim-100);
  --color-muted-foreground: var(--clr-prim-800);
  --color-accent: var(--clr-sec-100);
  --color-accent-foreground: var(--clr-prim-999);
  --color-destructive: var(--clr-warn-600);

  --color-border: var(--clr-prim-400);
  --color-input: var(--clr-prim-0);
  --color-ring: var(--clr-sec-600);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--clr-prim-100);
  --color-sidebar-foreground: var(--clr-prim-999);
  --color-sidebar-primary: var(--primary);
  --color-sidebar-primary-foreground: var(--primary-foreground);
  --color-sidebar-accent: var(--clr-sec-100);
  --color-sidebar-accent-foreground: var(--clr-prim-999);
  --color-sidebar-border: var(--clr-prim-400);
  --color-sidebar-ring: var(--clr-sec-600);
}
