@import '../../../../../styling/reactflow.css';

/* stylelint-disable selector-class-pattern */

.react-flow__node-token {
  font-size: 14px;
  cursor: default;

  border: 1px solid;
  border-color: var(--color-border);
  border-radius: 100%;

  width: 40px;
  height: 40px;

  outline-offset: -2px;
  outline-style: solid;
  outline-color: transparent;

  transition-property: outline-offset;
  transition-timing-function: var(--transition-bezier);
  transition-duration: var(--duration-select);

  &.selected {
    outline-offset: 4px;
    outline-color: var(--color-graph-selected);
    border-color: transparent;
  }
}
