/* Depth layers */
.z-bottom {
  z-index: 0;
}

.z-pop {
  z-index: 10;
}

:is(.z-sticky, .sticky) {
  z-index: 20;
}

.z-tooltip {
  z-index: 30;
}

.z-navigation {
  z-index: 50;
}

.z-modal {
  z-index: 60;
}

.z-modal-controls {
  z-index: 70;
}

.z-modal-top {
  z-index: 80;
}

.z-modal-tooltip {
  z-index: 90;
}

.z-topmost {
  z-index: 99;
}
