tzdata==2024.1
Django==5.0.6
djangorestframework==3.15.1
django-cors-headers==4.3.1
django-filter==24.2
drf-spectacular==0.27.2
drf-spectacular-sidecar==2024.6.1
coreapi==2.3.3
django-rest-passwordreset==1.4.1
cctext==0.1.4
pyconcept==0.1.6

psycopg2-binary==2.9.9
gunicorn==22.0.0