tzdata
Django
djangorestframework
django-cors-headers
django-filter
drf-spectacular
drf-spectacular-sidecar
coreapi
django-rest-passwordreset
cctext
pyconcept

psycopg2-binary
gunicorn

djangorestframework-stubs[compatible-mypy]
django-extensions
mypy
pylint
coverage