tzdata
django
djangorestframework
django-cors-headers
django-filter
drf-spectacular
coreapi
pymorphy2
pymorphy2-dicts-ru
pymorphy2-dicts-uk
razdel

mypy
pylint
coverage
djangorestframework-stubs[compatible-mypy]
django-rest-passwordreset

psycopg2-binary
gunicorn