<!DOCTYPE html>
<html>
  <head>
    <title>Восстановление пароля КонцептПортал</title>
  </head>
  <body>
    <p>Здравствуйте, {{first_name}}</p>
    <p>
      Мы получили запрос на восстановление пароля для пользователя {{username}},
      привязанного к данному email. Если Вы отправили указанный запрос, то
      перейдите по ссылке для задания нового пароля:
    </p>
    <p><a href="{{ reset_password_url }}">Сбросить пароль</a></p>
    <p>
      Если Вы не отправляли запрос, то можете игнорировать данное сообщение.
    </p>
    <p>С уважением,</p>
    <p>Команда КонцептПортал</p>
  </body>
</html>
